<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KienTree Leaders Home Page</title>
</head>
<body>

<h2>KienTree Leaders Home Page</h2>

<hr>
<p>
  Join us in the beautiful city of Paris for our highly anticipated annual Leadership meeting! We look forward to seeing you there and engaging in insightful discussions, strategic planning, and fostering strong connections.
  <br>
  Get ready for an enriching experience in the heart of Paris as we gather to shape the future of our organization together!
</p>

<hr>

<a th:href="@{/}">Back to Home Page</a>

</body>
</html>