<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>KienTree Systems Home Page</title>
</head>
<body>

<h2>KienTree Systems Home Page</h2>

<hr>
<p>
  Join us at the annual "KienTree: Shaping the Future" conference in the vibrant city of New York!
  <br>
  This premier event brings together tech enthusiasts, industry leaders, and innovators from around the world for three days of knowledge sharing, networking, and inspiration.
</p>

<hr>

<a th:href="@{/}">Back to Home Page</a>

</body>
</html>